# Applications of Cartesian Products

In [1]:
import pandas as pd

In [9]:
# Generate dataset A
data_1 = pd.DataFrame({'A':[3,4],'B':[5,6]})
data_1

   A  B
0  3  5
1  4  6

In [10]:
# Generate dataset A
data_2 = pd.DataFrame({'C':[7,8]})
data_2

   C
0  7
1  8

In [11]:
#Create Cartesian Product
data_3 = data_1.merge(data_2, how='cross')
data_3

   A  B  C
0  3  5  7
1  3  5  8
2  4  6  7
3  4  6  8

### Exercises
Intructions
1. Redo the excercises above but this time, show the Cartesian Product for data_2 $x$ data_1.
2. There are two csv files provided, use pandas to read the csv files.
3. For the first csv file: electronic-card-transactions-july-2023.csv, use the variable name data_1. Slice data_1 so that only the first 50 rows will be used.
4. For the first csv file: wholesale-trade-survey-march-2023-quarter.csv, use the variable name data_2. Slice data_2 so that only the first 50 rows will be used.
5. Show data_1 $x$ data_2
6. Show data_2 $x$ data_1